<section
  class="hero is-warning is-medium is-bold"
  id="index-hero"
>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Crane	&trade;</h1>
      <h2 class="subtitle"> This is best gas station in all of Uganda</h2>
    </div>
  </div>
</section>

<section class="container-fluid box is-radiusless">
  <div class="container">
    <p>
      As a local energy company operating in a challenging world, we set high standards of performance and ethical behaviours.
      We are judged by how we act and how we live up to our core values of honesty, integrity and respect for ugandan people.
      Our Business Principles are based on these.
    </p>
    <p>
      They promote trust, openness, teamwork and professionalism, as well as pride in what we do and how we conduct business.
      We commit to contribute to sustainable development, balancing short and long-term interests and integrating economic, environmental and social considerations into our decision-making.
      {{#link-to "about"}}
        Learn more...
      {{/link-to}}
    </p>
  </div>
</section>

<section class="container">
  <div class="columns is-multiline">
    <div class="column is-12 has-text-centered">
      <h1 class="title">Reasons to choose us</h1>
    </div>
    <div class="column is-4 has-text-centered">
      <div class="card is-shady">
        <div class="card-header is-size-3">
          <p class="card-header-title">Best prices</p>
        </div>
        <div class="card-image">
          <i class="fa fa-money"></i>
        </div>
        <div class="card-content is-size-4">
          <p>Get best deals with our membership program</p>
        </div>
      </div>
    </div>
    <div class="column is-4 has-text-centered">
      <div class="card is-shady">
        <div class="card-header is-size-3">
          <p class="card-header-title">Best locations</p>
        </div>
        <div class="card-image">
          <i class="fa fa-map-marker"></i>
        </div>
        <div class="card-content is-size-4">
          <p>Always at the most convenient place</p>
        </div>
      </div>
    </div>
    <div class="column is-4 has-text-centered">
      <div class="card is-shady">
        <div class="card-header is-size-3">
          <p class="card-header-title">Best staff</p>
        </div>
        <div class="card-image">
          <i class="fa fa-user"></i>
        </div>
        <div class="card-content is-size-4">
          <p>Our staff will help you with help you on your journey</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="columns is-multiline">
    <div class="column is-full has-text-centered">
      <hr>
      <h1 class="title">Fuels in stock:</h1>
    </div>
    {{#each model as |fuel|}}
      <div class="column is-6">
        <div class="box">
          <div class="level is-mobile">
            <div class="level-left">
              <h1 class="title">{{fuel.fuelName}}</h1>
            </div>
            <div class="level-right">
              <div class="tags has-addons">
                <span class="tag">$</span>
                <span class="tag is-danger">{{fuel.price}}</span>
              </div>
            </div>
          </div>
          <progress
            class="progress is-info"
            value={{fuel.fuelLeft}}
            max={{fuel.maxFuel}}
          >
          </progress>
          <div class="level is-mobile">
            <div class="level-left">
              <div class="tags has-addons">
                <span class="tag">{{fuel.fuelLeft}}/{{fuel.maxFuel}}</span>
                <span class="tag">Liters</span>
              </div>
            </div>
            <div class="level-right">
              {{#link-to 
                "fuel-catalogue.buy"
                fuel.id
                class=(if fuel.fuelLeft "button is-success" "button is-success is-static")
              }}
                Buy
              {{/link-to}}
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="column is-full has-text-centered"></div>
</section>
{{footer-address}}