<form>
  <div class="level">
    <div class="level-left">
      <h1 class="title">Buy fuel "{{model.fuelName}}" for</h1>
    </div>
    <div class="level-right"><span class="tag is-size-5 is-danger">${{model.tariff.exchangeRate}}</span></div>
  </div>
  <div class="field">
    <label class="label">Order type</label>
    <div class="control">
      <div class="select">
        <select onchange={{action "orderTypeSelected"}}>
          <option selected value="FUEL_BY_CURRENCY">Fuel by currency</option>
          <option value="CURRENCY_BY_FUEL">Currency by fuel</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">Before</label>
    <div class="control">
      {{input
        class="input is-large"
        type="date"
        change=(action (mut operationDate) value="target.value")
      }}
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input type="range" class="slider is-fullwidth" max={{maxFuelOrder}} value={{selectedValueAmount}}
        oninput={{action "fuelMoved"}}>
    </div>
    <div class="field has-addons">
      <div class="control is-expanded">
        <input type="number" value={{selectedValueAmount}} oninput={{action "fuelMoved"}} class="input is-medium">
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">
      {{#if isFuelByCurrency}}
      <div class="level">
        <div class="level-left"><span class="is-size-5">Fuel to buy:</span></div>
        <div class="level-right"><span class="tag is-size-5">{{selectedValueAmount}}/{{currencyByFuelMaxAmount}}
            Liters</span></div>
      </div>
      <div class="level">
        <div class="level-left"><span class="is-size-5">Money for order:</span></div>
        <div class="level-right"><span class="tag is-size-5">${{fuelByCurrencyMoney}}</span></div>
      </div>
      {{else}}
      <div class="level">
        <div class="level-left"><span class="is-size-5">Fuel to buy:</span></div>
        <div class="level-right"><span class="tag is-size-5">{{currencyByFuelAmount}}/{{currencyByFuelMaxAmount}}
            Liters</span></div>
      </div>
      <div class="level">
        <div class="level-left"><span class="is-size-5">Money for order:</span></div>
        <div class="level-right"><span class="tag is-size-5">${{selectedValueAmount}}</span></div>
      </div>
      {{/if}}
    </label>
    <a href="#" class="button is-fullwidth is-success is-large" {{action "buyFuel"}}>
      Order
    </a>
  </div>
</form>
{{block-loader isLoading=isLoading}}