<form>
  <div class="field">
    <label class="label">Old password</label>
    <div class="control">
      {{input class="input" type="password" value=oldPassword}}
    </div>
  </div>
  <div class="field">
    <label class="label">New password</label>
    <div class="control">
      {{input class=(if newPasswordErrorMessage "input is-danger" "input") type="password" value=newPassword}}
      {{#if newPasswordErrorMessage}}
        <p class="help is-danger">{{newPasswordErrorMessage}}</p>
      {{/if}}
    </div>
  </div>
  <div class="field">
    <label class="label">Repeat new password</label>
    <div class="control">
      {{input class=(if repeatPasswordErrorMessage "input is-danger" "input") type="password" value=repeatPassword}}
      {{#if repeatPasswordErrorMessage}}
        <p class="help is-danger">{{repeatPasswordErrorMessage}}</p>
      {{/if}}
    </div>
  </div>
  <a href="#" class="button is-fullwidth is-info is-large" {{action "changePassword" isChangingNotPossible}} disabled={{isChangingNotPossible}}>
    Change password
  </a>
</form>
{{block-loader isLoading=isLoading}}