<section class="container is-fluid">
  <div class="columns is-multiline">
    <div class="column is-full">
      <h1 class="title">Manage fuels</h1>
    </div>
    <div class="column is-full">
      <button class="button is-success is-fullwidth is-medium" {{action "addFuel"}}>
        <i class="fa fa-plus"></i>
        Add new fuel
      </button>
    </div>
    {{#each model.content as |f|}}
      <div class="box column is-full has-background-white-ter">
        <div class="tile is-ancestor">
          <div class="tile">
            <div class="tile is-vertical is-parent is-10">
              <div class="tile is-child">
                <div class="level">
                  <div class="level-left">
                    <h1 class="title">{{f.fuelName}}</h1>
                  </div>
                  <div class="level-right">
                    <h2 class="subtitle">{{f.storage.fuelAmount}}/10000 Liters</h2>
                  </div>
                </div>
              </div>
              <div class="tile is-child">
                <progress
                  class="progress is-info"
                  value={{f.storage.fuelAmount}}
                  max="10000"
                >
                </progress>
              </div>
              <div class="tile is-child">
                <h2 class="subtitle">Tariff: ${{f.tariff.exchangeRate}} per Liter</h2>
              </div>
            </div>
            <div class="tile is-vertical is-parent is-2">
              <div class="tile is-child">
                <button class="button is-warning is-fullwidth" {{action "editFuel" f}}>
                  Edit
                </button>
              </div>
              <div class="tile is-child">
                <button class="button is-danger is-fullwidth" {{action "removeFuel" f}}>
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>
<div class="modal {{if modalOperation "is-active"}}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{modalOperation}}</p>
      <button class="delete" aria-label="close" {{action "closeModal"}}></button>
    </header>
    <section class="modal-card-body">
      <form>
        <div class="field">
          <label class="label">Fuel name</label>
          <div class="control">
            {{input
              type="text"
              class="input"
              value=operationFuelName
            }}
          </div>
        </div>
        <label class="label">Fuel amount</label>
        <div class="field has-addons">
          <div class="control is-expanded">
            {{input
              type="number"
              class="input"
              value=operationFuelAmount
            }}
          </div>
          <div class="control">
            <a class="button is-static">
              /10000 Liters
            </a>
          </div>
        </div>
        <div class="field">
          <label class="label">Fuel tariff</label>
          <div class="control">
            <div class="select">
              <select class="select" onchange={{action "tariffChange"}}>
                {{#each displayTariffs as |t|}}
                  <option value={{t.id}} selected={{t.isChosen}}>${{t.exchangeRate}} per Liter</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" {{action "save"}}>Save changes</button>
      <button class="button" {{action "closeModal"}}>Cancel</button>
    </footer>
  </div>
</div>
<div class="modal {{if isDeleteOpen "is-active"}}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Are you sure you want to remove fuel?</p>
      <button class="delete" aria-label="close" {{action "closeDeleteModal"}}></button>
    </header>
    <footer class="modal-card-foot">
      <button class="button is-danger" {{action "deleteFuel"}}>Delete</button>
      <button class="button" {{action "closeDeleteModal"}}>Cancel</button>
    </footer>
  </div>
</div>
{{block-loader isLoading=isLoading}}