<p class="menu-label">
  My account
</p>
<ul class="menu-list">
  <li>
    <a 
      href="#" 
      class={{if isMyOperationsActive "is-active"}}
      {{action "transitionToMenu" "user.my-operations"}}
    >
      My operations
    </a>
  </li>
  <li>
    <a 
      href="#"
      class={{if isChangePasswordActive "is-active"}} 
      {{action "transitionToMenu" "user.change-password"}}
    >
      Change password
    </a>
  </li>
</ul>
{{#if isAdmin}}
<p class="menu-label">
  Administration
</p>
<ul class="menu-list">
  <li>
    <a 
      href="#"
      class={{if isManageUserAuthoritiesActive "is-active"}}  
      {{action "transitionToMenu" "user.manage-authorities"}}
    >
      Manage user authorities
    </a>
  </li>
  <li>
    <a 
      href="#" 
      class={{if isSearchUserOperationsActive "is-active"}} 
      {{action "transitionToMenu" "user.search-user-operations"}}
    >
      Search user operations
    </a>
  </li>
  <li>
    <a 
      href="#" 
      class={{if isSearchOperationsActive "is-active"}} 
      {{action "transitionToMenu" "user.search-operations"}}
    >
      Search operations
    </a>
  </li>
  <li>
    <a 
      href="#" 
      class={{if isManageFuelTanksActive "is-active"}}
      {{action "transitionToMenu" "user.manage-fuel"}}
    >
      Manage fuel
    </a>
  </li>
  <li>
    <a 
      href="#"
      class={{if isManageFuelTariffsActive "is-active"}}  
      {{action "transitionToMenu" "user.manage-tariff"}}
    >
      Manage fuel tariffs
    </a>
  </li>
  <li>
    <a 
      href="#"
      class={{if isStatisticsActive "is-active"}}  
      {{action "transitionToMenu" "user.statistics"}}
    >
      Explore statistics
    </a>
  </li>
</ul>
{{/if}}